svg {
  background: white;
  position: relative;
  border-radius: 10px;
  padding-left: 50px;
  overflow: visible; }

rect {
  fill: #65b6b8; }

rect:hover {
  fill: rgba(101, 182, 184, 0.7); }

#x-axis-label {
  font-size: 20px;
  text-anchor: middle; }

#y-axis-label {
  font-size: 20px;
  text-anchor: middle; }

body {
  background: -moz-radial-gradient(50% 50%, circle farthest-corner, white 0%, #ccc4cb 100%);
  background: -webkit-radial-gradient(50% 50%, circle farthest-corner, white 0%, #ccc4cb 100%);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1562.09, color-stop(0, white), color-stop(1, #ccc4cb));
  background: -o-radial-gradient(50% 50%, circle farthest-corner, white 0%, #ccc4cb 100%);
  background: -ms-radial-gradient(50% 50%, circle farthest-corner, white 0%, #ccc4cb 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);";
  background: radial-gradient(50% 50%, circle farthest-corner, white 0%, #ccc4cb 100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
  font-family: "trebuchet ms", monospace, sans-serif;
  text-align: center; }

#tooltip {
  text-align: left;
  color: white;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.61);
  position: absolute;
  border-radius: 5px;
  width: 105px;
  height: 40px;
  opacity: 0; }
